html
  head
    link(rel='stylesheet', type='text/css', href='/jasmine.css')
    script(type='text/javascript', src='/json2.js')
    script(type='text/javascript', src='/jasmine.js')
    script(type='text/javascript', src='/jasmine-html.js')
    script(type='text/javascript', src='http://cdn.socket.io/stable/socket.io.js')
    script(type='text/javascript', src='/control-frame.js')
    - each external in externals
      script(type='text/javascript', src=external)
    title Jasmine Spec Server
    - each src in srcs
      script(type='text/javascript', src=src)
    - each spec in specs
      script(type='text/javascript', src=spec)
  body
    script(type='text/javascript', src='/run.js')
    
